
.main-menu-saldo-terbuka {
    margin: 0 auto;
    width: 389px;
    height: 810px;
    background: #EBEAEA;
  }
  .blueBox {
    padding: -7px;
    width: 390px;
    height: 243px;
    background-image: url(assets/blueboxH.png);
  }
  .barPhone {
    position: absolute;
    top: 10px;
    left: 440px;
    width: 326px;
    height: 20px;
    background-image: url(assets/barPhone.png);
  }
  .brf {
    position: absolute;
    top: 50px;
    left: 555px;
    width: 162px;
    height: 77px;
    background-image: url(assets/BRFtext.png);
  }
  .halo{
    position: relative;
    top: -130px;
    left: 16px;
    font-weight: 800;
    color: #ffffff;
    font-family: lato, lato;
    font-size: 20px;
  }
  .SRU{
    position: relative;
    top: -130px;
    left: 16px;
    font-weight: 500;
    color: #ffffff;
    font-family: lato, lato;
    font-size: 15px;
  }
  .saldo{
    position: relative;
    top: -100px;
    left: 16px;
    font-weight: 800;
    color: #ffffff;
    font-family: lato, lato;
    font-size: 25px;
  }
  .eye{
    position: relative;
    top: 50px;
    left: 555px;
    width: 162px;
    height: 77px;
    background-image: url(assets/eye.png);
  }
  .TOBox{
    position: absolute; 
    top: 280px;
    left: 433px;
    width: 347px;
    height: 74px;
    background-image: url(assets/TransaksiOtomastis.png);
  }
  .TO{
    position: relative;
    top: -67px;
    left: 16px;
    font-weight: 700;
    color: #000000;
    font-family: lato, lato;
    font-size: 15px;
  }
  .TO1{
    position: relative;
    text-align: center;
    top: 20px;
    left: -85px;
    font-weight: 400;
    color: #000000;
    font-family: lato, lato;
    font-size: 13px;
  }
  .TO2{
    position: relative;
    text-align: center;
    top: -11px;
    left: 89px;
    font-weight: 400;
    color: #000000;
    font-family: lato, lato;
    font-size: 13px;
  }
  .DD{
    position: relative;
    top: 0px;
    left: 10px;
    font-weight: 700;
    color: #000000;
    font-family: lato, lato;
    font-size: 15px;
  }
  .emoney {
    position: absolute;
    top: 375px;
    left: 420px;
    width: 367px;
    height: 110px;
    background-image: url(assets/DDhide.png);
  }
  .CK{
    position: relative;
    top: 139px;
    left: 18px;
    font-weight: 700;
    color: #000000;
    font-family: lato, lato;
    font-size: 15px;
  }
  .boxCK {
    position: absolute;
    top: 510px;
    left: 450px;
    width: 320px;
    height: 133px;
    background-image: url(assets/catung.png);
  }
  .pemasukan{
    position: relative;
    top:25px;
    left: -67px;
    font-weight: 700;
    color: #000000;
    font-family: lato, lato;
    font-size: 11px;
    text-align: center;
  }
  .pengeluaran{
    position: relative;
    top:0px;
    left: 99px;
    font-weight: 700;
    color: #000000;
    font-family: lato, lato;
    font-size: 11px;
    text-align: center;
  }
  .selisih{
    position: relative;
    top: 26px;
    left: 0px;
    font-weight: 700;
    color: #000000;
    font-family: lato, lato;
    font-size: 13px;
    text-align: center;
  }
  .downbar {
    position: absolute;
    top: 701px;
    left: 418px;
    width: 375px;
    height: 115px;
    background-image: url(assets/downbar.png);
  }
  .ketHOME{
    position: relative;
    top: 95.5px;
    left: 33px;
    font-weight: 800;
    color: #ffffff;
    font-family: lato, lato;
    font-size: 10px;
  }
  .ketAKTV{
    position: relative;
    top: 83px;
    left: 240px;
    font-weight: 800;
    color: #ffffff;
    font-family: lato, lato;
    font-size: 10px;
  }
  .ketMTSI{
    position: relative;
    top: 71.5px;
    left: 85px;
    font-weight: 800;
    color: #ffffff;
    font-family: lato, lato;
    font-size: 10px;
  }
  .ketAKUN{
    position: relative;
    top: 59px;
    left: 318px;
    font-weight: 800;
    color: #ffffff;
    font-family: lato, lato;
    font-size: 10px;
  }